#post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post_preview {
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 20rem;
  margin: 1rem;
}
.post_preview_thumbnail {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 10rem;
}
.post_preview_content {
  text-align: center;
  padding: 1rem;
}
@media (min-width: 35rem) {
  .post_preview {
    width: 25rem;
  }
  #post {
    flex-direction: row;
  }
}
